<div class="d-flex flex-column pt-4 p-3 barside-body">
  <div class="container-fluid">

    <div class="dropdown pt-2">
      <a class="d-flex align-items-center text-decoration-none dropdown-toggle dropdown-user" role="button" data-bs-toggle="dropdown" aria-expanded="false">
        <img src="https://i.pinimg.com/564x/35/db/17/35db177e6485faafa57474f65b8bc4ce.jpg" alt="Perfil" width="32" height="32" class="rounded-circle me-2">
        <strong>Maria</strong>
      </a>

      <ul class="dropdown-menu text-small">
        <li>
          <a href="#" class="dropdown-item settings-users">Ajustes</a>
        </li>
        <li>
          <a href="#" class="dropdown-item settings-users">Cerrar sesion</a>
        </li>
      </ul>
    </div>

    <hr>

    <ul class="nav nav-pills flex-column mb-auto">
      <li class="nav-items">
        <a href="home" class="nav-link active asi" aria-current="page">
          <img src="../../../assets/Details/home-icon.png" alt="Home Icon" class="bi pe-none me-2 img-icon">
          Home
        </a>
      </li>
      <li>
        <a href="" class="nav-link perro">
          <img src="../../../assets/Details/home-icon.png" alt="Home Icon" class="bi pe-none me-2 img-icon">
          Home
        </a>
      </li>
      <li>
        <a href="" class="nav-link">
          <img src="../../../assets/Details/home-icon.png" alt="Home Icon" class="bi pe-none me-2 img-icon">
          Home
        </a>
      </li>
      <li>
        <a href="" class="nav-link">
          <img src="../../../assets/Details/home-icon.png" alt="Home Icon" class="bi pe-none me-2 img-icon">
          Home
        </a>
      </li>
      <li>
        <a href="" class="nav-link">
          <img src="../../../assets/Details/home-icon.png" alt="Home Icon" class="bi pe-none me-2 img-icon">
          Home
        </a>
      </li>
    </ul>

  </div>
</div>
