<div class="container-fluid h-100 main-home">
  <div class="container py-3">
    <p>Los dinosaurios, esos fascinantes seres prehistóricos que gobernaron la Tierra durante más de 160 millones de años, han capturado la imaginación de científicos y entusiastas desde su descubrimiento. Estos gigantes reptiles, que vivieron en el periodo conocido como la Era Mesozoica, han dejado un legado asombroso en la historia de nuestro planeta. <br><br>

      El término "dinosaurio" fue acuñado en 1842 por el paleontólogo británico Sir Richard Owen, quien combinó las palabras griegas "deinos" (terrible) y "sauros" (lagarto) para describir a estas criaturas extintas. Su diversidad era enorme, desde los pequeños y ágiles como el Velociraptor, hasta los colosales como el Argentinosaurus, el dinosaurio más grande conocido hasta ahora.<br><br>

      Los dinosaurios dominaron la Tierra desde aproximadamente hace 230 millones de años, en el periodo Triásico, hasta hace unos 65 millones de años, al final del Cretácico. Sin embargo, su reinado llegó a un abrupto final con un evento catastrófico: el impacto de un asteroide en la península de Yucatán, México, que desencadenó un invierno nuclear, cambios climáticos drásticos y la extinción masiva que puso fin a la Era Mesozoica.<br><br>

      La extinción de los dinosaurios permitió la proliferación de los mamíferos y eventualmente condujo al surgimiento de los seres humanos. La investigación continua de fósiles y nuevas tecnologías nos ha brindado una visión más clara de su apariencia, comportamiento y entorno. Descubrimientos como la pluma fósil en algunos terópodos, como el famoso Tyrannosaurus rex, sugieren que algunos dinosaurios tenían una apariencia más parecida a las aves modernas de lo que se pensaba.<br><br>

      Hoy en día, los dinosaurios siguen siendo objeto de estudio en paleontología y han alcanzado gran popularidad en la cultura popular a través de películas, libros y museos. Sus fósiles nos conectan con un pasado lejano y nos recuerdan la asombrosa diversidad y fragilidad de la vida en nuestro planeta.<br><br>

      En conclusión, los dinosaurios son una parte crucial de la historia de la vida en la Tierra. Su reinado y extinción han dejado un impacto duradero, y su estudio continúa revelando información fascinante sobre el pasado y el desarrollo de nuestro mundo. A través de la ciencia y la imaginación, los dinosauios seguirán cautivando a generaciones futuras con su misterio y grandeza.<br>
      </p>
  </div>
</div>
